<!DOCTYPE html>
<html lang="<%= page.language || config.language %>">
<head>
  <%- partial('_partial/head') %>
</head>
<body class="typo borderbox" lang="<%= page.language || config.language %>" itemtype="http://schema.org/WebPage" itemscope>
  <%- partial('_partial/header') %>

  <main id="content" class="content">
    <%- body %>
    <%- partial(`_partial/footers/${page.language || 'en'}`) %>
  </main>

  <%- partial('_partial/footer') %>
  <%- css('css/style.css') %>
</body>
</html>
