<!DOCTYPE html>
<html lang="<%= page.language || config.language %>">
<head>
  <%- partial('_partial/head') %>
</head>
<body class="typo borderbox" lang="<%= page.language || config.language %>" itemtype="http://schema.org/WebPage" itemscope>
  <%- partial('_partial/header') %>

  <main id="content" class="content">
    <section class="avatar">
      <picture class="avatar__picture" alt="Gaya Kessler" title="Gaya Kessler">
        <source srcset="/images/avatar.jp2, /images/avatar@2x.jp2 2x" type="image/jp2">
        <source srcset="/images/avatar.jpg, /images/avatar@2x.jpg 2x" type="image/jpg">
        <img src="/images/avatar@2x.jpg" alt="Gaya Kessler" title="Gaya Kessler">
      </picture>
      <span>Freelance Developer,<br>Gaya Kessler</span>
    </section>

    <%- body %>
  </main>

  <%- partial('_partial/footer') %>
</body>
</html>
